body{background-color:rgb(176, 227, 240);
}
h1{background-color:rgb(21, 121, 155);
}
#text1{background-color: rgb(165, 243, 165);
}
h2{background-color: lightgrey;
}
#text2{background-color: rgb(240, 240, 155);
}
#lista{background-color: rgb(15, 112, 107);}